*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f5f7fb;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:#0f172a;
color:white;
flex-wrap:wrap;
}

.logo{
font-size:28px;
font-weight:bold;
}

#searchBox{
padding:10px;
width:300px;
border:none;
border-radius:8px;
}

.hero{
text-align:center;
padding:60px 20px;
background:white;
}

.hero h1{
font-size:42px;
margin-bottom:15px;
}

.hero p{
font-size:18px;
color:#555;
}

.categories{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:20px;
padding:40px;
}

.card{
background:white;
padding:25px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.card h2{
margin-bottom:15px;
}

.card a{
display:block;
padding:8px 0;
text-decoration:none;
color:#2563eb;
font-weight:500;
}

.card a:hover{
color:#dc2626;
}

footer{
text-align:center;
padding:20px;
background:#0f172a;
color:white;
}
.stats{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:30px;
}

.stat-card{
background:white;
padding:25px;
text-align:center;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.stat-card h2{
font-size:40px;
color:#2563eb;
}
.team{
padding:80px 50px;
background:#f8fafc;
}

.team h2{
text-align:center;
font-size:42px;
margin-bottom:50px;
color:#0d6efd;
}

.profile-card{
max-width:900px;
margin:auto;
background:white;
border-radius:20px;
padding:30px;
display:flex;
align-items:center;
gap:40px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

.profile-image img{
width:250px;
height:300px;
object-fit:cover;
border-radius:15px;
}

.profile-info{
flex:1;
}

.profile-info h3{
font-size:32px;
margin-bottom:10px;
}

.role{
font-size:18px;
color:#0d6efd;
font-weight:600;
margin-bottom:15px;
}

.profile-info p{
font-size:17px;
line-height:1.8;
color:#555;
}

.btn{
display:inline-block;
margin-top:20px;
padding:12px 25px;
background:#0d6efd;
color:white;
text-decoration:none;
border-radius:8px;
font-weight:bold;
}

.btn:hover{
background:#084298;
}
